{% extends 'base/base.html' %}

{% block page_title %} Login {% endblock page_title %}

{% block bode_class %}login-page{% endblock bode_class %}

{% block login %} 
  <div class="login-box">
    <div class="login-logo">
      <a href="{% url 'core_app:home' %}"><b><strong>Palazuelos</strong></b>.family</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        {% if form.errors %}
          <small class="text-danger">
            {% for field in form %}              
              {% if field.errors %}
                  {% for error in field.errors  %}
                    {{ error|escape }}
                  {% endfor %}                   
              {% endif %}
            {% endfor %}
            
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                {{ error|escape }}
              {% endfor %}
            {% endif %}
          </small>           
        {% endif %}                    

        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" name="username" id="id_username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" id="id_password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          {% comment %} {{ form.as_p }} {% endcomment %}

          <div class="row">
            <div class="col-8">
              {% comment %} <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div> {% endcomment %}
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        {% comment %} <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
        </div> {% endcomment %}
        <!-- /.social-auth-links -->

        {% comment %} <p class="mb-1">
          <a href="forgot-password.html">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a href="register.html" class="text-center">Register a new membership</a>
        </p> {% endcomment %}
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->
{% endblock login %}
    
{% block main_navbar %} {% endblock main_navbar %}
{% block main_sidebar %} {% endblock main_sidebar %}
{% block maincontent_title %} {% endblock maincontent_title %}

{% block maincontent_title_post %} {% endblock maincontent_title_post %}

{% block maincontent_body %} {% endblock maincontent_body %}
{% block maincontent_footer %} {% endblock maincontent_footer %}

{% block maincontent_footer_post %} {% endblock maincontent_footer_post %}

{% block maincontent_modal %} {% endblock maincontent_modal %}
{% block js_page %} {% endblock js_page %}
