{% extends "base/base.html" %}


{% block page_title %}
    List of Countries
{% endblock page_title %}

{% block bode_class %}sidebar-mini{% endblock bode_class %}

{% block login %} {% endblock login %}

{% block maincontent_body %}
       
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Country List</h1>
                </div>
                <div class="col-sm-6">
                </div>
            </div>
            </div><!-- /.container-fluid -->
        </section>


        {% comment %} <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Ribbons</h3>

                                <div class="card-tools">
                                    <a href="#" class="btn btn-tool btn-sm">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper">
                                        <div class="ribbon bg-primary">
                                        Ribbon
                                        </div>
                                    </div>
                                    Ribbon Default <br />
                                    <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper ribbon-lg">
                                        <div class="ribbon bg-info">
                                        Ribbon Large
                                        </div>
                                    </div>
                                    Ribbon Large <br />
                                    <small>.ribbon-wrapper.ribbon-lg .ribbon</small>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper ribbon-xl">
                                        <div class="ribbon bg-secondary">
                                        Ribbon Extra Large
                                        </div>
                                    </div>
                                    Ribbon Extra Large <br />
                                    <small>.ribbon-wrapper.ribbon-xl .ribbon</small>
                                    </div>
                                </div>
                                </div>
                                <div class="row mt-4">
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper ribbon-lg">
                                        <div class="ribbon bg-success text-lg">
                                        Ribbon
                                        </div>
                                    </div>
                                    Ribbon Large <br /> with Large Text <br />
                                    <small>.ribbon-wrapper.ribbon-lg .ribbon.text-lg</small>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper ribbon-xl">
                                        <div class="ribbon bg-warning text-lg">
                                        Ribbon
                                        </div>
                                    </div>
                                    Ribbon Extra Large <br /> with Large Text <br />
                                    <small>.ribbon-wrapper.ribbon-xl .ribbon.text-lg</small>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                    <div class="ribbon-wrapper ribbon-xl">
                                        <div class="ribbon bg-danger text-xl">
                                        Ribbon
                                        </div>
                                    </div>
                                    Ribbon Extra Large <br /> with Extra Large Text <br />
                                    <small>.ribbon-wrapper.ribbon-xl .ribbon.text-xl</small>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content --> {% endcomment %}


        <!-- Main content -->
        <section class="content">   

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">

                        <!-- Default box -->
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                {% comment %} <h3 class="card-title">Important Title here</h3> {% endcomment %}

                                <div class="card-tools">
                                    <a href="{% url 'city_history:country_new' %}" class="btn btn-sm btn-primary btn-circle">
                                        <i class="fas fa-plus"></i>
                                    </a>

                                    {% comment %} <div class="btn-group">
                                        <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                                            <i class="fas fa-wrench"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                                            <a href="#" class="dropdown-item">New</a>
                                            <a href="#" class="dropdown-item">Another action</a>
                                            <a href="#" class="dropdown-item">Something else here</a>
                                            <a class="dropdown-divider"></a>
                                            <a href="#" class="dropdown-item">Separated link</a>
                                        </div>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                            <div class="card-body">
                                {% if not obj %}
                                    <div class="alert alert-warning">
                                        There are no countries
                                    </div>
                                {% else %}
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <th>ID</th>
                                            <th>Country</th>
                                            <th>Is Active?</th>
                                            <th>Created At</th>
                                            <th>Updated At</th>
                                            <th class="all">Actions</th>
                                        </thead>
                                        <tbody>
                                            {% for item in obj %}
                                                <tr>
                                                    <td>{{ item.id }}</td>
                                                    <td>{{ item.name }}</td>
                                                    <td>{{ item.active|yesno:"Active,Inactive" }}</td>
                                                    <td>{{ item.createdon|date:"m/d/Y H:i:s" }}</td>
                                                    <td>{{ item.lastupdatedon|date:"m/d/Y H:i:s" }}</td>
                                                    <td>
                                                        <a href="{% url 'city_history:country_edit' item.id %}" class="btn btn-warning btn-circle" role="button">
                                                            <i class="far fa-edit"></i>
                                                        </a>
                                                        <a href="#" class="btn btn-danger btn-circle" role="button">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}                                    
                                        </tbody>
                                    </table>
                                {% endif %}                        
                            </div>
                            <!-- /.card-body -->

                            {% comment %} <div class="card-footer">
                                Footer
                            </div> {% endcomment %}
                            <!-- /.card-footer-->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



{% endblock maincontent_body %}

{% block maincontent_footer %}
{% endblock maincontent_footer %}

    
{% block js_page %}
    {% comment %} <script>
        $(document).Toasts('create', {
        title: 'Toast Title',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
        });
    </script> {% endcomment %}
{% endblock js_page %}
    